footer{
    display:block;
    background-color:white;
}
body{		  background-size: cover;

    background-repeat:no-repeat;
background-image: url(img/login.jfif);
}
input[type=text], [type=password]{
    font-family: fantasy;
    color:rgb(111, 0, 255);
    border-radius: 10px ;
    padding :12px;

}

h1{
 color: red;
 font-weight: 50px    ;
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
 font-size : 30px;
}


input[type=submit]{
    font-family: fantasy;
    color:rgb(255, 166, 0);
    border-radius: 20px ;
    padding :12px;
    font-size : 200%;
    height: auto ;
     
background-color : green; }
input[type=submit]:hover{
    font-family: fantasy;
    color:rgb(68, 0, 255);
    border-radius: 20px ;
}
input[type=submit]:visited{
    font-family: fantasy;
    color:darkorange;
    border-radius: 20px ;
}
.c{
    margin :auto;
text-align: center;
color:orange;
padding :112px;

}
label{
    font-size :35px;
    margin-right:50%;
    margin:auto;
    margin-top:10%;

}


p{
   color: green;
   font-weight: 1000px    ;
   text-align: left;
   font-family:'Times New Roman', Times, serif ;
   font-size : 30px;
}
.b{
    background-color : brown;
    height:47% ;
width :40%;
margin :auto;
border-radius: 20px;
}
.mimg{
    height:20%;
margin-left:590px;
}
.a{
    font-size :29px;
    text-decoration-line: unset;
    color:black;
}
a{color:blue;
}
.img{
   height:16%; 

}
