body{
    background-size:100% 100%;
    background-repeat:no-repeat;
background-image: url(../img/univ.jfif);
    background-color: chartreuse;
}
.en_voit{
    padding: 80px 80px;width:50%;height: 50%;
background-image:url(../img/enreg.jfif);
background-size:100% 100%;
}
.en_chauf{
    padding: 80px 80px;width:50%;height: 50%;

    background-image:url(../log/chauf1.png);
    background-size:100% 100%;
}
.af_chauf{
    padding: 80px 80px;width:50%;height: 50%;

    background-image:url(../log/chauf1.png);
    background-size:100% 100%;
}
.af_voit{    padding: 80px 80px;width:50%;height: 50%;

    background-image: url(../img/show2.jfif);
    background-size:100% 100%;

}
.en_voit:hover{
    background-image:url(../img/enreg2.png);
    background-size:100% 100%;
    }
    .en_chauf:hover{
    
        background-image:url(../log/chauf11.png);
        background-size:100% 100%;
    }
    .af_chauf:hover{
    
        background-image:url(../log/chauf11.png);
        background-size:100% 100%;
    }
    .af_voit:hover{
        background-image:url(../img/show.jfif);
        background-size:100% 100%;
    
    }
h1{
   color: blue;
   font-weight: 50px    ;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-size : 40px;
}

p{
color: red;
   font-weight: 1000px    ;
   text-align: left;
   font-family:'Times New Roman', Times, serif ;
   font-size : 50px;
}
a{
    color:whitesmoke;
    outline:0 ;
    font-size: 25px;
    font-family: serif;
    text-anchor: middle;
    text-decoration-line: unset;
}

a:hover{
   color:white;
   outline:0 ;

}
a:visited{
   color:red;
   outline:0 ;
   text-decoration:unset;

}
a:active{
outline:0 ;

}



header {
height: 60px;
top: 0.1pt;
margin:auto;
background-color: yellow;
position:fixed;
width: 100%;
}
.h{
color: brown;
text-align: center;
}
footer{
display: block;
background-color: brown;
font-size:52px;
text-align: center;
color: #777;
}
img{
height: 20%;
margin:10px auto ;

}
.text{
width:50%;
height: 50px;
}
.op{
background-color:orange;
margin:auto;
width:50%;
height: 28%;
color:white;
border-radius :20px;
margin-top:22px;
}
.l{
margin-right:72%;
font-style:italic;
color:white;
background-color:brown;
border-radius:12px;
font-size:25px;
}
ul{
margin-right:72%;
font-style:italic;
color:brown;
background-color:whitesmoke;
border-radius:12px;
font-size:25px;
width: 96%;
}
.tete:hover{
color:violet;
background-color:purple;

}
.center{
    background-color:wheat;

}
.center:hover{
    background-color:turquoise;
}
.tete{
position:fixed;
background-color:green;
color:silver;
margin-top:-20px;
width:100%;
}