body{
    background-size:100% 100%;
    background-repeat:no-repeat;
background-image: url(../img/enregistrer.png);
    background-color: chartreuse;
} 
    input[type=text]{
        border-radius: 20px ;
        width: 200px;
        height: 30px;

    }
    
    input[type=number]{
        font-family: fantasy;
        border-radius:  20px ;
        width: 200px;
        height: 30px;
    }
   
    
    
    input[type=submit], [type=reset]{
        font-family: fantasy;
        color:rgb(255, 166, 0);
        border-radius: 20px ;
        width: 100px;
        height: 30px;
    }
    input[type=submit], [type=reset]:hover{
        font-family: fantasy;
        color:rgb(68, 0, 255);
        border-radius: 20px ;
    }
    input[type=submit], [type=reset]:visited{
        font-family: fantasy;
        color:darkorange;
        border-radius: 20px ;
    }
    .c{
        margin :auto;
text-align: center;
color:darkblue;
background-color: darkkhaki;
height :50%;
width: 30%;
border-radius:30px;
    }
    a{
        text-decoration:unset;
        text-align: center;
    
    }
    button{
        background-color: darkmagenta;
        border-radius:16px;
        width:80px;
    }
    label{
        font-size: 20px;
    }    button{
    background-color: whitesmoke;
    border-radius:16px;
    width:80px;
}
    